/* page home */
#home {
  height: 100vh;
}
/* component proyects */
.border-project {
  border: 1px solid #c4c4c4;
  width: 100%;
}
/* component content */
.v-list-item {
  min-height: 0 !important;
}
.text-content h2 {
  cursor: pointer;
}
.text-content h2:hover {
  text-decoration: underline;
}

/* responsive */
@media screen and (max-width: 411px) {
  #content {
    padding-bottom: 5em;
  }
  .image-content {
    width: 200px !important;
    height: 200px !important;
  }
  .text-content h1 {
    font-size: 25px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .text-content h2 {
    font-size: 20px;
  }
  .text-content h4 {
    font-size: 14px;
  }
  .text-content {
    padding: 0;
  }
  .text-content p {
    margin-bottom: 2em;
  }
  .content-row {
    text-align: center;
  }
  .p-content {
    padding: 0;
  }
  .content-row {
    height: 75vh !important;
  }
  #projects-home p {
    display: none;
  }
  .image-projects {
    width: auto !important;
  }
}
@media screen and (width: 768px) {
  #content {
    padding-bottom: 2em;
  }
  .content-row {
    height: 65vh !important;
  }
  #projects-home p,
  h2 {
    text-align: center;
    width: 100% !important;
  }
  #projects-home .span-projects {
    position: relative;
    left: 42%;
  }
  .image-projects {
    width: auto !important;
  }
}
