/* page home */
#home {
  height: 100vh;
}
.home-header {
  height: 5%;
}
.home-content {
  height: 95%;
}
/* component content */
.v-list-item {
  min-height: 0 !important;
}
.title-project {
  cursor: pointer;
}
.info--text:hover,
.title-project:hover {
  text-decoration: underline;
}

.content-row {
  height: 100vh;
}
/* responsive */
@media screen and (max-width: 600px) {
  .home-header {
    height: 14%;
  }
  .home-content {
    height: 86%;
  }
  #content {
    padding-bottom: 5em;
  }
  .image-content {
    width: 200px !important;
    height: 200px !important;
  }
  .text-content h1 {
    font-size: 25px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .text-content h2 {
    font-size: 20px;
  }
  .text-content h4 {
    font-size: 14px;
  }
  .text-content {
    padding: 0;
  }
  .text-content p {
    margin-bottom: 2em;
  }
  .content-row {
    text-align: center;
  }
  .p-content {
    padding: 0;
  }
  .content-row {
    height: 100% !important;
  }
  #projects-home p {
    display: none;
  }
  .image-projects {
    width: auto !important;
  }
}
